@use "../../base/colors" as colors;

.products-page {
  margin: 3rem auto;
  padding: 2rem;
  min-height: 100vh;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header-products-page {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: calc(100% - 0.5rem);
    margin-bottom: 2rem;
    gap: 0.75rem;

    .p-path {
      font-weight: 700;
    }

    /* Filtros */
    .filter-shop {
      display: flex;
      justify-content: center;
      width: 50%;

      select {
        padding: 0.6rem 1rem;
        border: 1px solid colors.$dark-grey;
        width: 100%;
        font-size: 0.95rem;
        transition: all 0.2s ease-in-out;

        &:focus {
          outline: none;
          border-color: colors.$green;
        }
      }
    }



  }

  /* Grid de productos (fluid) */
  .product-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center; // centrar tarjetas
    gap: 2rem;
  }
}

/* Tarjetas de productos */
.product-card {
  position: relative; // importante para ubicar la etiqueta
  background-color: colors.$white;
  border: 1px solid colors.$grey;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  .product-category {
    position: absolute;
    top: 0.5rem;
    left: 0;
    background-color: colors.$green;
    color: colors.$white;
    font-size: 0.65rem;
    font-weight: 700;
    padding: 0.15rem 0.3rem;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 5;

    &.verduras {
      background: colors.$green; // verde intenso
    }

    &.huevos {
      background: #f9d776; // amarillo suave
      color: #111; // mejor contraste
    }

    &.frutas {
      background: colors.$ligth-green; // verde claro
      color: #111;
    }
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  .product-card-content {
    padding: 0 0.5rem;

    h3 {
      font-size: 1rem;
      color: colors.$black;
      margin-bottom: 0.4rem;
      font-weight: 700;
    }

    .price {
      font-size: 1rem;
      font-weight: 700;
      color: colors.$dark-green;
      margin-bottom: 0.75rem;
    }

    .rating {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0.3rem;
      font-size: 0.9rem;
      color: colors.$black;

      .stars {
        display: flex;
        align-items: center;
        gap: 2px;
      }
     .star-half {
        display: inline-block;
      }

    }
  }



  button {
    width: 100%;
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    background-color: colors.$yellow-button;
    color: white;
    cursor: pointer;
    transition: background-color 0.25s ease;
    margin-top: 1rem;

    &:hover {
      background-color: colors.$green;
    }
  }
}

/* ======= Responsivo ======= */
@media (max-width: 1024px) {
  .product-list {
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 0.8rem !important; // más compacto en mobile
  }

  .products-page {
    padding: 2rem 3rem;
  }
}

@media (max-width: 768px) {
  .products-page {
    padding: 1.5rem;
  }

  .product-list {
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 1.5rem; // menos espacio en tablet
  }
}

/* === Mobile: forzar siempre 2 columnas === */
@media (max-width: 420px) {
  .products-page {
    padding: 0 0.75rem;
  }

  .p-path {
    font-size: 0.85rem;
  }

  .filter-shop {
    select {
      padding: 0.2rem 0.5rem;
      font-size: 0.85rem;
    }
  }

  .product-list {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .product-card {


    img {
      height: 140px;
      margin-bottom: 0.5rem;
    }

    .product-card-content {

      h3 {
        font-size: 0.85rem;
      }

      .price {
        font-size: 0.85rem;
        margin-bottom: 0.5rem;
      }
    }

    button {
      width: 100%;
      padding: 0.45rem;
      font-size: 0.8rem;
    }
  }
}