---
const { icon, title, description } = Astro.props;
---

<div class="advantage-item">
  <div class="icon">{icon}</div>
  <div class="text">
    <h3>{title}</h3>
    <p>{description}</p>
  </div>
</div>