---
import AdvantageItem from './advantagesItem/advantageItem.astro';
---
<section class="advantages">
  <div class="advantages-list">
    <AdvantageItem 
      icon="✅" 
      title="Somos Productores" 
      description="Controlamos desde el cultivo a tu mesa."
    />

    <AdvantageItem 
      icon="🥑" 
      title="Elige la Maduración" 
      description="¿Verdes, premaduras, maduras?"
    />
    <AdvantageItem 
      icon="💳" 
      title="Paga Como Quieras" 
      description="Aceptamos tarjeta, transferencia o efectivo."
    />
    <AdvantageItem 
      icon="🚚" 
      title="Venta Mayorista" 
      description="Venta por gamelas y precio mayoristas"
    />
  </div>
</section>