---
import AdvantageItem from './advantagesItem/advantageItem.astro';
---
<section class="advantages">
  <div class="advantages-list">
    <AdvantageItem 
      icon="✅" 
      title="Somos Productores" 
      description="Controlamos todo desde el cultivo hasta tu mesa. Garantizando frescura y calidad."
    />

    <AdvantageItem 
      icon="🥑" 
      title="Elige el Punto de Maduración" 
      description="¿Verdes, maduras, mezcladas? Tú eliges."
    />
    <AdvantageItem 
      icon="💳" 
      title="Paga Como Quieras" 
      description="Aceptamos tarjeta de débito/crédito, transferencia o efectivo."
    />
    <AdvantageItem 
      icon="🚚" 
      title="Venta Mayorista" 
      description="Venta y precio a mayoristas. Precios competitivos y entregas eficientes."
    />
  </div>
</section>