---
import Layout from "../layouts/layout.astro"
import Header from "../components/header.astro"
import Footer from "../components/footer.astro"
---
<Layout pageTitle="Home">
  <Header />
  <div class="compraconfirmada-wrapper">
    <section class="compraconfirmada-container">
      <h1>🎉 ¡Gracias por tu compra!</h1>
      <p>Te contactaremos a la brevedad via whatsapp para gestionar la entrega.</p>
      <a href="/" class="btn-home">
        Volver al inicio
      </a>
    </section>
  </div>
  <Footer />
</Layout>

