.review-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  margin-block: 2rem;

  h2 {
    font-size: 1.75rem;

    @media (max-width: 768px) {
      font-size: 1.25rem;
    }
  }


  @media (max-width: 768px) {
    margin-block: 1.25rem;
    gap: 1rem;
  }
}

.review-home-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1; 

  .review-home-list::-webkit-scrollbar {
  width: 8px; 
  }
  .review-home-list::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
.review-home-list::-webkit-scrollbar-thumb {
  background: #888; /* Color del "pulgar" (el que mueves) */
  border-radius: 10px; /* Esquinas redondeadas */
}

.review-home-list::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
  
  @media (max-width: 768px) {
    padding: 1rem;
    gap: 1rem;
  }

  @media (max-width: 420px) {
    gap: 0.5rem;
    padding: 0.75rem;
  }
}

.review-item {
  background: #fff;
  border: 1px solid #e5e7eb;
  overflow: hidden;
  flex: 1 1 300px; // cada review ocupa mínimo 300px y se adapta
  max-width: 350px; // límite para que no se estiren demasiado
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;

  @media (max-width: 768px) {
    flex: 1 1 280px; // cada review ocupa mínimo 300px y se adapta
    max-width: 320px; // límite para que no se estiren demasiado
  }

  @media (max-width: 420px) {
    flex: 1 1 calc(50% - 0.75rem);
    /* dos columnas */
    max-width: calc(50% - 0.75rem);
    font-size: 0.7rem;

    .review-item__image {
      height: 110px;
      /* imagen más baja */
    }

    .review-item__comment {
      font-size: 0.655rem;
    }

    .review-item__footer {
      font-size: 0.65rem;
    }
  }

    &:hover {
      transform: translateY(-4px);
    }

    &__image {
      width: 100%;
      height: 200px;
      overflow: hidden;

      @media (max-width: 768px) {
        height: 170px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    &__content {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      @media (max-width: 420px) {
      padding: 0.5rem;
      gap: 0.5rem;
      
      }
    }

    &__stars {
      display: flex;
      gap: 0.25rem;
      @media (max-width: 420px) {
      gap: 0.15rem;     
      }

      .star {
        width: 20px;
        height: 20px;
        color: #d1d5db;

          @media (max-width: 420px) {
            width: 12px;
            height: 12px;
          }

        &.active {
          color: #fbbf24;
          fill: #fbbf24;
        }
      }
    }

    &__comment {
      font-size: 1rem;
      font-style: italic;
      color: #374151;
      line-height: 1.5;

      @media (max-width: 768px) {
        font-size: 0.85rem;
      }

      @media (max-width: 480px) {
        font-size: 0.8rem;
      }
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.85rem;
      color: #6b7280;

      @media (max-width: 480px) {
        font-size: 0.8rem;
      }

      .name {
        font-weight: 600;
        color: #111827;
      }

      .date {
        font-style: italic;
      }


    }
  }

  .star-title {
    width: 20px;
    height: 20px;
    color: #fbbf24;
    fill: #fbbf24;
  }


  .review-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;

  }
