$primary: #042A2B;
$secondary:  #f9c22e;
$tertiary: #333;
$grey: #f5f5f5;
$dark-grey: #b3b3b3;
$blue: #1a3e2e;
$green: #539987;
$ligth-green: #64cc8f;
$white: #ffffff;
$yellow: #FFE066;
$red: #e4322c;
$ligth-red: #fc5651;


